<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236280198203-o1qqe6malqrcfap5tht2viq4vi762oiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236280198203-o1qqe6malqrcfap5tht2viq4vi762oiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCltedjIsJnSlQEwD3SxVSLfgXTms3Ijlw</string>
	<key>GCM_SENDER_ID</key>
	<string>236280198203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.ariane</string>
	<key>PROJECT_ID</key>
	<string>arianeapp-9faa5</string>
	<key>STORAGE_BUCKET</key>
	<string>arianeapp-9faa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236280198203:ios:0264f2eeda02370023d81e</string>
</dict>
</plist>